.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 30px;
  margin-top: 10px;
}

#new-tweet-error {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
  background: #f94545;
  color: var(--text-color-light);
}

#tweets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#tweet-text {
  background-color: var(--primary-color-light);
  width: 100%;
  height: 60px;
  font-weight: 300;
  resize: none;
  overflow-y: auto;
  padding-top: 5px;
  border: 0px;
  border-bottom: 4px solid #545149;
}

.tweet-submit-button {
  background-color: var(--primary-color-dark);
  font-family: 'Bungee', sans-serif;
  color: var(--text-color-light);
  padding: 0.25em;
  border: 0px;
}

.tweet-submit-button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

#tweet-counter {
  font-family: 'Bungee', sans-serif;
}

.tweet-submit-counter-row {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 70px;
}

#new-tweet-top {
  margin-top: 0px;
}