.tweet-box {
  padding: 20px;
  border: 2px solid var(--text-color-dark);
  border-radius: 6pt;
  margin-bottom: 20px;
  transition: box-shadow .3s;
}

.tweet-box:hover {
  box-shadow: 5px 5px 5px 1px #bdbdbd;
}

.tweet-box > p {
  font-weight: 600;
}

.tweet-box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet-box-header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet-box-header > div > img {
  padding-right: 10px;
  width: 75px;
  height: 64px;
}

.tweet-box-username {
  font-weight: 300;
}

.tweet-box-header-handle {
  color: var(--primary-color-dark);
}

.tweet-box-footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--text-color-dark);
}

.tweet-box-footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet-box-footer-days {
  font-size: 14pt;
}

.tweet-box-footer > div > div {
  display: flex;
  flex-direction: row;
}

.tweet-box-footer-icons {
  display: flex;
  flex-direction: row;
}

i {
  padding: 0px 5px 0px 5px;
}

i:hover {
  color: var(--button-hover-color);
  cursor: pointer;
}